<!-- Search -->
<br><br><br><br>
    <section id="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Search</h2>
                    <hr class="star-primary">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." id="trackSearch">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" {{action 'trackSearch'}}>Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <br><br>
            <!-- **********Need to initially hide results table and only show when there are results -->
            <div class="results">
                <div class="row">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Song</th>
                                <th>Artist</th>
                                <th>Album</th>
                            </tr>
                        </thead>
                        <tbody>
                        	{{#each track in results}}
                            <tr {{action 'suggestTrack' track}}>
                                <td>{{track.title}}</td>
                                <td>{{track.artist.name}}</td>
                                <td>{{track.album.title}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>